<%- include('../inc/top.ejs') %>
<% if (message) { %>
    <div class="alert alert-danger">
        <%= message %>
    </div>
<% } %>
<div class="container-fluid mt-5">
    <div class="row ">
        <div class="col-lg-6 m-auto text-center">
            <p>Quản lý hàng hoá, người dùng, quản trị dữ liệu.</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-lg-6 m-auto">
            <img src="/images/BACHTOAN.png" alt="" class="mx-auto">
        </div>
    </div>
</div>
<%- include('../inc/bottom.ejs') %>